 {% extends 'base.html' %}
{% block content %}

<div id="container">
<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="https://i.imgur.com/dr5EkVW.jpg">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="https://i.imgur.com/ZPggQFe.jpg">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="https://i.imgur.com/bFzqExd.jpg">
      <div class="text"></div>
    </div>
  </div>







    <div class="info">
      <div class="action">
        <h3>How do you know your skin and hair care products are really working?</h3>
      </div>
        <div class="hair-and-skin">
          <div class="info-img">
            <img src="https://i.imgur.com/qRVkU3D.jpg">
          </div>
          <div class="info-text">
            <h4> Track Hair and Skin Diary Logs </h4>
            <h6>GlowUp helps your track your hair and skin journey every week to help you see your results and how it impacts your skin and hair  </h6>
          </div>
        </div>
        <div class="achieve">
          <div class="info-img">
            <img src="https://i.imgur.com/j1guTlI.jpg">
          </div>
          <div class="info-text">
            <h4> Achieve your goals</h4>
            <h6>GlowUp is a tool designed to track your journey using metrics to spot what works and doesn't </h6>
          </div>
          </div>
        <div class="routine">
          <div class="info-img">
            <img src="https://i.imgur.com/Eco10Ri.jpg">
          </div>
          <div class="info-text">
            <h4>Set Routines</h4>
            <h6>We provide a snapshot of how your hair and skin reacts to your routine to help you target specific issues and look your best </h6>
          </div>
          </div>    
    </div>
  </div>
  

{% endblock %}