{% extends 'base.html' %}
{% block content %}

<div class="create-contain">

<div class="form-create">

<form method='POST' action='/log/skindiary/submit_create_form/'>
    {% csrf_token %}
    <p>Date:</p> <input type='date' name='date' autocomplete="off"/>
    <br />
    <p>Log:</p> <input name='log' autocomplete="off"/>
    <br />
    <label for="water">Did I achieve my hydration goals this week?</label>
    <br />
    <select name='water'>
        <option value="True">Quenched aF!</option>
        <option value="False">Oops, not this week.</option>
    </select>
    <br />
    <label for="product">What was my favourite product this week?</label>
    <br />
    <input name='product' autocomplete="off"/>
    <br />
    <label for="morning">Did I meet my AM routines this week?</label>
    <br />
    <select name='morning'>
        <option value="True">Bet!</option>
        <option value="False">Maybe next week...</option>
    </select>
    <br />
    <label for="night">Did I meet my PM routines this week</label>
    <br />
    <select name='night'>
        <option value="True">Absolutely!</option>
        <option value="False">I forgot some nights...</option>
    </select>
    <br />
    <label for="supplements">Did I meet my supplement intakes this week?</label> 
    <br />
    <select name='supplements'>
        <option value="True">Ofc!</option>
        <option value="False">Not a good supplements week for me....</option>
    </select>
    <br />

    <button class="form-btn">Add Log</button>
</form>

</div>
</div>
    
{% endblock %}