{% extends 'base.html' %}
{% block content %}

<div class="supplements-container">
        <div class="supplements-title">
                <a href='/supplements/add/form/'><button class="supp-btn">Add Supplements</button></a>   
        </div>  
        <div class="supp-flex">   
        {% for p in pill %}
        <div class="supplements-info">
                <img src="https://i.imgur.com/rln78LT.png" id="supp-img">
                <p>Name: <span>{{ p.Name }}</span></p>
                <p>Price: <span>${{ p.Price }}</span></p>
                <a href='/supplements/{{ p.id }}/delete/'><button class="supp-delete">Delete</button></a>
        </div>
{% endfor %}
</div>   
</div>

{% endblock %}